.container{
    display: flex;
    justify-content: space-between;
}

.navtest{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.dataItem{
    margin: 1%;
    padding: 2%;
    border: 1px solid black;
}